/*
$bg-color: red;
body {
    background: $bg-color;
}
*/


/*Alterando a Cor Primaria exemplo
// Variable Overrides 
$theme-colors: ( "primary": #d95700);

......................................
outro exemplo....
// Variable Overrides 
$theme-colors: (
  "primary": #d95700
);

$body-bg: #ededed;
.....................................
// Variable Overrides 
$theme-colors: (
  "primary": #d95700
);

$body-bg: #ededed;

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
}

*/

// Variable Overrides 
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";